<div class="form-group">
  <label>Get data from API Service</label>
  <button 
    (click)="GetData()"
    class="btn btn-primary">Get Data</button>
</div>
<input 
  (keyup.enter)="createPost(title)" #title
  type="text" 
  class="form-control">
<ul class="list-group">
  <li 
    *ngFor="let post of posts" 
    class="list-group-item">
    <button
     (click)="updatePost(post)" 
     class="btn btn-default-btn-sm">Update</button>
     <button 
      (click)="deletePost(post)"
      class="btn btn-danger btn-sm">Delete</button>
    {{ post. title }}
  </li>
</ul>
